body{
        font-family: "Fira Sans Extra Condensed", sans-serif;
        font-weight: 300;
        font-size: 16px;
    margin: 0
      }
     
/* Header Here*/

header h1{
    margin:0;
    color: black;
    font-weight: 900
}

header{
    background-color: #73A4E5;
    padding: 1rem 2vw;
}

header p{
    margin:0;
    color: black;
    letter-spacing: .5px;
}

/*Nav here*/
nav{
    background-color: #EBA831;
}
nav ul {
    list-style-type: none;
    padding:0 2vw;
    margin:0;
    display: flex;
}

nav li.active a {
    background-color: #024873;
        color: #f2b705;
}

nav a:hover {
    color: white;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
   
}


/* Main Here*/
main {
    padding:1rem 2vw;
}
main h1 {
    color: #3765AB
}

main h2 {
    color: #3765AB;
    margin-bottom: .2rem;
    clear:none
}

main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #efefef;
    clear:both
}

main dl dt{
    color:#3D4F6B;
    font-weight: 700;
}

main dl dd{
    color: black;
    font-size: .9rem;
}

main ul {
    list-style-type: square;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #EBA831;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #3765AB;
    border-radius: .5rem;
}

main a {
    color: #024873;
}

main a:hover {
    color: #EBA831;
}

/* footer stuff goes here*/
footer {
    background-color: #73A4E5;
    text-align: center;
    color: black;
    padding: 1rem 0;
    font-size: .8rem;
    clear:both;
}
footer a {
    color: black;
}

figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
    
}
figure.wrapped img{
    width: 100%;
    height: auto;
}

figure.wrapped figcaption{
    text-align:center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
text-align: center;
    font-size: .8rem;
    color: #b64e11;
}